{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<br>
    <p> Nowy użytkownik</p>

    <h1>{{ error }}</h1>
    {{ form_start(form) }}
    {#{{ form_widget(form.search,{attr : {placeholder:'imie'}}) }}#}
    {{ form_errors(form) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="users">
        <input type="button" value="Anuluj" class="btn btn-danger" />
    </a>

    {{ form_end(form) }}




{% endblock %}

