{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
<h1 class="text-center">Lista Użytkowników</h1>


        {{ form_start(form,{attr:{class:'form-inline'}}) }}
        {{ form_widget(form.search,{attr : {placeholder:'szukaj'}}) }}
        <button type="submit" class="btn btn-primary">Szukaj</button>
        {{ form_errors(form.search) }}


        {{ form_end(form) }}

        <a href="add_user">
            <input type="button" value="Dodaj użytkownika" class="btn btn-primary" />
        </a>

        <a href="add_user">
            <input type="button" value="Wyloguj" class="btn btn-primary" />
        </a>

      <br>


        <table class="table">
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Imię</th>
                <th>nazwisko</th>
                <th>Hasło</th>
                <th>Edytuj</th>
                <th>Usun</th>

            </tr>

            {% for user in users %}

                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.FirsName }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.Login }}</td>
                    <td> <a href="edit_user/{{ user.login }}"><input type="button" value="Edytuj" class="btn btn-primary" /></a></td>
                    {#<td> <a href="del_user/{{ user.login }}"><input type="button" value="Usuń" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"/></a></td>#}
                    {#<td> <input type="button" value="Usuń" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"/></td>#}
                    {#<td> <input id="element" type="button" value="Usuń" class="btn btn-primary show-modal" data-toggle="modal" data-target="#exampleModal"/></td>#}
                    <td><a href="del_user/{{ user.login }}" onclick="return confirm('Are you sure you want to delete this item?');"><input type="button" value="Usuń" class="btn btn-primary" /></a></td>



                </tr>


            {% endfor %}
        </table>


    </div>




{% endblock %}

   {% block javascripts %}
       {{ parent() }}

       <script>



       </script>




{% endblock %}
